<section class="single">
Event {{event.id}}
    <ul>
        <li>{{event.title}}</li>
        <li>Time: {{event.startTime}}</li>
        <li>Location: {{event.location}}</li>
        <li>Attendees: {{event.attendees}}</li>
        <li>{{event.description}}</li>
    </ul>
</section>